body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filelabel {
  width: fit-content;
  border: 2px dashed grey;
  padding: 2px;
}
.filelabel:hover {
border: 2px dashed #1665c4;
}
.filelabel:hover .fa,
.filelabel:hover .title {
color: #1665c4;
}
#FileInput{
  display:none;
}
